$primary-color: #161a34;
$secondary-color: #fcd0b3;
$text-color: #fcd0b3;
$text-color2:#161a34;
$margin-box: 20px;
$padding-box: 25px;
$font-fam:'Julius Sans One', sans-serif;
$font-fam2: 'Lato', sans-serif;
$img-height : 500px;
$img-width : 500px;


html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    
    body {
    background-color: $primary-color;
    font-family: $font-fam;
    overflow-x: hidden;
    }
}

.nav {
    background-color: #0b0d14;
    color: $text-color;
    font-family: $font-fam ;
    padding: 40px;

    .navbar-brand {
        color: $text-color;
    }

    .nav-link {
        color: $text-color;
    }
    .li {
        font-size: 90%;
        align-items: center;
        margin-right: 10px;
        margin-left: 7px;
        color: $text-color;
    }
    .link-0{
        color: $text-color;
        text-decoration: none;
    }
}
.container {
    background-color: $primary-color;
    padding: $padding-box;
    color: $text-color;

    .title {
        font-size: 2em;
        color: $text-color;
    }
    .text {
        color: $text-color;
        font-family: $font-fam2;
        letter-spacing: 2px;
        font-weight: 700;
    }
    .link {
        text-decoration: none;
        color : $text-color;
    }
    .link:hover {
        color :whitesmoke;
    }
}

.container-main {
    background-color: $secondary-color;
    margin : $margin-box;
    padding: $padding-box;

    .title-example {
        color: $text-color2;
        font-size: 1.4em;
        font-weight: 900;
    }
    .text-example {
        font-family: $font-fam2;
        font-size: 1em;
        color : $text-color2;
        letter-spacing: 2px;
        font-weight: 700;
    }
    .img-filter {
        filter:invert(100%);
    }
}

.image-section {
    background-color: $primary-color;
    margin: $margin-box;
    padding: $padding-box;
    color: $text-color;
    border: 2px solid #fcd0b3;

    .img-size {
        height: $img-height;
        width: $img-width;
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 5px 5px 5px 0px black;
    }
    .img-size:hover {
        box-shadow: 0px 0px 21px 5px #fcd0b3;
    }

    .img-text {
        font-family: $font-fam2;
        font-size: 1em;
        color : $text-color;
        letter-spacing: 2px;
        font-weight: 700;
    }
    .ele-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .button-style {
        text-decoration: none;
        padding: 10px;
        background-color: $secondary-color;
        color: $primary-color;
        font-family: $font-fam;
        font-weight: 700;
        margin: auto;
        cursor: pointer;
        box-shadow: 5px 5px 5px 0px black;
        width: 100px;
        border: 2px #161a34;
        border-radius: 10px;
    }
    .button-style:hover {
        box-shadow: 0px 0px 21px 5px #fcd0b3;
    }

}

.ending-lorem {
    color: $text-color;
    padding: $padding-box;
}

.footer {
    background-color: #0b0d14;
    color: $text-color;
    font-family: $font-fam ;
    padding: 30px;
}
.hr {
    background-color: $text-color;
}


@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
    .navbar .nav-item:hover .nav-link{ 
        color: $text-color; 
    }
    .navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
    .navbar .dropdown-menu.fade-up{ top:180%;  }
    .navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}

/*MOBILE*/
@media screen and (max-width: 768px) {
    body, html {
        scroll-behavior: smooth;
        scroll-snap-type: none;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .image-section {
        background-color: $primary-color;
        margin: $margin-box;
        padding: $padding-box;
        color: $text-color;
        border: 2px solid #fcd0b3;
    
        .hr {
            background-color: #fcd0b3;
        }
    
        .img-size {
            height: 250px;
            width: 250px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 5px 5px 5px 0px black;
        }
    
        .img-text {
            font-family: $font-fam2;
            font-size: 1em;
            color : $text-color;
            letter-spacing: 2px;
            font-weight: 700;
        }
        .button-style {
            text-decoration: none;
            padding: 10px;
            background-color: $secondary-color;
            color: $primary-color;
            font-family: $font-fam;
            font-weight: 700;
            margin: auto;
            cursor: pointer;
            box-shadow: 5px 5px 5px 0px black;
            width: 100px;
            border: 2px #161a34;
        }
    
    }

}
